<!DOCTYPE html>
<html>

    <head>
        <title>Home</title>
    </head>

    <body>
        <h1>Bem-vindo, <%= user.email %>!</h1>
        <form action="/home" method="post">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" required/>
            <br>
            <label for="ingredientes">Ingrediente</label>
            <textarea name="ingredientes" id="ingredientes" cols="30" rows="10" required></textarea>
            <br>
            <button type="submit">Adicionar</button>
        </form>
    </body>

</html>

